* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3060617;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(6, 1fr);   /* 6 rows */
    gap: 10px; /* Space between the doors */
    width: 800px;
    height: 900px;
    border: 5px solid black;
    background-image: url("https://img.freepik.com/free-psd/christmas-tree-illustration_23-2150894975.jpg");
    background-size: cover;
    padding: 20px;
    box-shadow: 6px 6px 20px gray;
}

.door {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}

.door:hover {
    transform: scale(1.05);
}

.opened {
    background-color: rgba(248, 229, 209, 0.9); /* Lighter color for opened doors */
    color: #333;
    cursor: default; /* Change cursor when door is opened */
}

.discount-code {
    position: absolute; /* Positioning on the door */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 5px; /* Padding around the code */
    border-radius: 5px; /* Rounded corners */
    bottom: 10px; /* Positioning near the bottom */
    left: 50%; /* Centering horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    color: #000; /* Text color */
    font-weight: bold; /* Bold text */
}
